In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dfwords = pd.read_csv('../datadays2020/concated_title.csv')
dft = pd.read_csv('../datadays2020/click_train.csv')
dfwords.head()

   Unnamed: 0  adId                                              words
0           0     6   24 24 25 24 25 26 24 25 26 27 24 25 26 27 28 ...
1           8     7                      32 32 33 32 33 34 32 33 34 35
2          12     8   8 8 32 8 32 36 8 32 36 37 8 32 36 37 38 8 32 ...
3          19    11   50 50 51 50 51 52 50 51 52 53 50 51 52 53 54 ...
4          26    13   61 61 62 61 62 63 61 62 63 64 61 62 63 64 65 ...

In [3]:
dfwords = dfwords[['adId' , 'words']]
dfwords.head()

   adId                                              words
0     6   24 24 25 24 25 26 24 25 26 27 24 25 26 27 28 ...
1     7                      32 32 33 32 33 34 32 33 34 35
2     8   8 8 32 8 32 36 8 32 36 37 8 32 36 37 38 8 32 ...
3    11   50 50 51 50 51 52 50 51 52 53 50 51 52 53 54 ...
4    13   61 61 62 61 62 63 61 62 63 64 61 62 63 64 65 ...

In [4]:
dft.head()

   displayId  adId  clicked
0    1210227  7182        0
1    1210227  7125        0
2    1210227  7181        0
3    1210227   535        0
4    1210227  7174        1

In [5]:
dfw = pd.read_csv('../datadays2020/ad_title.csv')
dfw.head()

   adId  wordId
0     6      24
1     6      25
2     6      26
3     6      27
4     6      28

In [ ]:
max(dfw['wordId'].unique())

In [ ]:
min(dfw['wordId'].unique())

In [ ]:
len(dfwords)

In [ ]:
len(dfw)

In [ ]:
dft.head()

In [6]:
def top_words(dfw , top=100 ):
    temp = dfw.groupby('wordId').count()
    temp=temp.sort_values('adId' ,ascending=False)
    return list(temp.iloc[:top].index)

In [ ]:
#dfw.groupby('wordId').count().sort_values('adId' , ascending=False)

In [11]:
dft=pd.merge(dft,dfwords , how='left' , on='adId')

In [ ]:
dfwords.head()

In [ ]:
'108 ' in dft.iloc[0]['words']

In [64]:
topw = top_words(dfw , top=20)

In [ ]:
topw[0]

In [12]:
dft['words']=dft['words'].fillna("")

In [13]:
dft['words'].isna().any()

False

In [65]:
def row_prob(x , te):
    global s
    global c
    #print(x)
    #print(te)
    if te in x['words']:
        s += x['clicked']
        c += 1
    else:
        pass

In [ ]:
topw

In [66]:
#let cal word prob with summation/len

probs={}
j=0
for te in topw:
    te = str(te)
    s=0
    c=0
    dft.apply(lambda x : row_prob(x , te) , axis=1)
    print(s)
    j+=1
    probs[te] = s/c

103121
172836
264633
74810
57234
120302
30519
6089
4523
13772
23477
35500
77379
126838
35677
12398
79568
15916
21199
21146

In [ ]:
probs

In [ ]:
dft.head()

In [ ]:
time.time()

## LETS TRAIN

In [35]:
dfevent = pd.read_csv('../datadays2020/event.csv')
dftrain = pd.read_csv('../datadays2020/click_train.csv')
prev = len(dftrain)
dftrain = pd.merge(dftrain , dfevent , on='displayId' , how='left')
after = len(dftrain)
assert prev == after
dfweb = pd.read_csv('../datadays2020/page.csv')
dftopic = pd.read_csv('../datadays2020/page_topic.csv')
dfad = pd.read_csv('../datadays2020/ad.csv')
prev = len(dftrain)
dftrain = pd.merge(dftrain , dfweb , on='pageId' , how='left')
after = len(dftrain)
assert prev == after
prev = len(dftrain)
dftrain = pd.merge(dftrain , dfad , on='adId' , how='left')
after = len(dftrain)
assert prev == after

dftrain.head()

,displayId,adId,clicked,timestamp,pageId,widgetId,userId,device,OS,browser,website,publisher,campaignId,advertiserId
0,1210227,7182,0,1579598863403,420857,9519,782749,0,0,1,477,49,3402,7579
1,1210227,7125,0,1579598863403,420857,9519,782749,0,0,1,477,49,251,5971
2,1210227,7181,0,1579598863403,420857,9519,782749,0,0,1,477,49,3402,7579
3,1210227,535,0,1579598863403,420857,9519,782749,0,0,1,477,49,3186,1419
4,1210227,7174,1,1579598863403,420857,9519,782749,0,0,1,477,49,471,5528

In [36]:
dftopic=dftopic.sort_values(['pageId' , 'confidence'] , ascending=False)
dftopic=dftopic.drop_duplicates(['pageId'])

In [4]:
dftopic.head()

      pageId  topicId  confidence
0   10743259       37    0.497099
5   10743258       28    0.608877
8   10743257       28    0.608617
16  10743255        4    0.350786
18  10743254       28    0.608778

In [37]:
dftrain = pd.merge(dftrain , dftopic , on='pageId' , how='left')
dftrain.head()

,displayId,adId,clicked,timestamp,pageId,widgetId,userId,device,OS,browser,website,publisher,campaignId,advertiserId,topicId,confidence
0,1210227,7182,0,1579598863403,420857,9519,782749,0,0,1,477,49,3402,7579,20.0,0.316218
1,1210227,7125,0,1579598863403,420857,9519,782749,0,0,1,477,49,251,5971,20.0,0.316218
2,1210227,7181,0,1579598863403,420857,9519,782749,0,0,1,477,49,3402,7579,20.0,0.316218
3,1210227,535,0,1579598863403,420857,9519,782749,0,0,1,477,49,3186,1419,20.0,0.316218
4,1210227,7174,1,1579598863403,420857,9519,782749,0,0,1,477,49,471,5528,20.0,0.316218

In [38]:
dftrain['topicId'] = dftrain['topicId'].fillna(0)
dftrain['confidence'] = dftrain['confidence'].fillna(0)
dftrain.head()

,displayId,adId,clicked,timestamp,pageId,widgetId,userId,device,OS,browser,website,publisher,campaignId,advertiserId,topicId,confidence
0,1210227,7182,0,1579598863403,420857,9519,782749,0,0,1,477,49,3402,7579,20.0,0.316218
1,1210227,7125,0,1579598863403,420857,9519,782749,0,0,1,477,49,251,5971,20.0,0.316218
2,1210227,7181,0,1579598863403,420857,9519,782749,0,0,1,477,49,3402,7579,20.0,0.316218
3,1210227,535,0,1579598863403,420857,9519,782749,0,0,1,477,49,3186,1419,20.0,0.316218
4,1210227,7174,1,1579598863403,420857,9519,782749,0,0,1,477,49,471,5528,20.0,0.316218

In [6]:
dftrain['timestamp']

0          1579598863403
1          1579598863403
2          1579598863403
3          1579598863403
4          1579598863403
5          1579597570200
6          1579597570200
7          1579597570200
8          1579595840497
9          1579595840497
10         1579595840497
11         1579595490529
12         1579595490529
13         1579595490529
14         1579595490529
15         1579595490529
16         1579593749096
17         1579593749096
18         1579593749096
19         1579593749096
20         1579593749096
21         1579593749096
22         1579588843420
23         1579588843420
24         1579588843420
25         1579588843420
26         1579588843420
27         1579596863199
28         1579596863199
29         1579596863199
               ...
3642214    1578429036317
3642215    1578429036317
3642216    1578429036317
3642217    1578429036317
3642218    1578429023501
3642219    1578429023501
3642220    1578429023501
3642221    1578429023501
3642222    1578429039027
3642223    1578429039027
3642224    1578429039027
3642225    1578429017218
3642226    1578429017218
3642227    1578429017218
3642228    1578429017218
3642229    1578429021388
3642230    1578429021388
3642231    1578429021388
3642232    1578429021388
3642233    1578429012060
3642234    1578429012060
3642235    1578429012060
3642236    1578429005696
3642237    1578429005696
3642238    1578429005696
3642239    1578429007726
3642240    1578429007726
3642241    1578429007726
3642242    1578429007726
3642243    1578429007726
Name: timestamp, Length: 3642244, dtype: int64

In [19]:
min(dfevent['timestamp'])

1578429005696

In [28]:
t=min(dftrain['timestamp'])

In [25]:
timetable = [(0,6), (6,12),(12,18),(18,24)]

In [27]:
t

1578429005696

In [40]:
def discretiseTime(t,timetable):
    t=t%24
    for i , e in enumerate(timetable):
        #print(t , e)
        if t>=e[0] and t<= e[1]:
            return i

In [34]:
discretiseTime(t/1000/3600,timetable)

20.501582222233992 (0, 6)
20.501582222233992 (6, 12)
20.501582222233992 (12, 18)
20.501582222233992 (18, 24)

3

In [17]:
(max(dftrain['timestamp']) - min(dftrain['timestamp']))/1000/60/60/

13.544048055555557

In [44]:
dftrain.groupby('timestamp').count()

,displayId,adId,clicked,pageId,widgetId,userId,device,OS,browser,website,publisher,campaignId,advertiserId,topicId,confidence
timestamp,,,,,,,,,,,,,,,
0,547243,547243,547243,547243,547243,547243,547243,547243,547243,547243,547243,547243,547243,547243,547243
1,1629230,1629230,1629230,1629230,1629230,1629230,1629230,1629230,1629230,1629230,1629230,1629230,1629230,1629230,1629230
2,821210,821210,821210,821210,821210,821210,821210,821210,821210,821210,821210,821210,821210,821210,821210
3,644561,644561,644561,644561,644561,644561,644561,644561,644561,644561,644561,644561,644561,644561,644561

In [42]:

dftrain['timestamp'] = dftrain['timestamp'].apply(lambda x : discretiseTime((x-t)/(1000*3600) , timetable))                                                  
dftrain.head()

,displayId,adId,clicked,timestamp,pageId,widgetId,userId,device,OS,browser,website,publisher,campaignId,advertiserId,topicId,confidence
0,1210227,7182,0,2,420857,9519,782749,0,0,1,477,49,3402,7579,20.0,0.316218
1,1210227,7125,0,2,420857,9519,782749,0,0,1,477,49,251,5971,20.0,0.316218
2,1210227,7181,0,2,420857,9519,782749,0,0,1,477,49,3402,7579,20.0,0.316218
3,1210227,535,0,2,420857,9519,782749,0,0,1,477,49,3186,1419,20.0,0.316218
4,1210227,7174,1,2,420857,9519,782749,0,0,1,477,49,471,5528,20.0,0.316218

In [8]:
dftrain.sort_values('timestamp').head()

,displayId,adId,clicked,timestamp,pageId,widgetId,userId,device,OS,browser,website,publisher,campaignId,advertiserId,topicId,confidence
1821121,3162423,17,1,0.438333,150334,14036,1874592,0,0,1,20,19,7626,3409,22.0,0.470539
2428156,3669107,5850,0,0.438333,6938291,14171,634683,1,1,0,21,20,4843,4532,37.0,0.517421
2428157,3669107,4418,1,0.438333,6938291,14171,634683,1,1,0,21,20,36,9424,37.0,0.517421
2428158,3669107,475,0,0.438333,6938291,14171,634683,1,1,0,21,20,480,10103,37.0,0.517421
2428159,3669107,2156,0,0.438333,6938291,14171,634683,1,1,0,21,20,9181,9135,37.0,0.517421

In [47]:

anchors = ['adId' , 'campaignId' , 'advertiserId']
feature = ['pageId','userId','widgetId' , 'topicId' ,'website' , 'timestamp']
features = [(anchor , f) for anchor in anchors for f in feature]
column_names = anchors + features
column_names

['adId',
 'campaignId',
 'advertiserId',
 ('adId', 'pageId'),
 ('adId', 'userId'),
 ('adId', 'widgetId'),
 ('adId', 'topicId'),
 ('adId', 'website'),
 ('adId', 'timestamp'),
 ('campaignId', 'pageId'),
 ('campaignId', 'userId'),
 ('campaignId', 'widgetId'),
 ('campaignId', 'topicId'),
 ('campaignId', 'website'),
 ('campaignId', 'timestamp'),
 ('advertiserId', 'pageId'),
 ('advertiserId', 'userId'),
 ('advertiserId', 'widgetId'),
 ('advertiserId', 'topicId'),
 ('advertiserId', 'website'),
 ('advertiserId', 'timestamp')]

In [10]:
#dftrain = pd.merge(dftrain , dft , on=['displayId' ,'adId'] , how='left')
dftrain.head()

,displayId,adId,clicked,timestamp,pageId,widgetId,userId,device,OS,browser,website,publisher,campaignId,advertiserId,topicId,confidence
0,1210227,7182,0,0.438611,420857,9519,782749,0,0,1,477,49,3402,7579,20.0,0.316218
1,1210227,7125,0,0.438611,420857,9519,782749,0,0,1,477,49,251,5971,20.0,0.316218
2,1210227,7181,0,0.438611,420857,9519,782749,0,0,1,477,49,3402,7579,20.0,0.316218
3,1210227,535,0,0.438611,420857,9519,782749,0,0,1,477,49,3186,1419,20.0,0.316218
4,1210227,7174,1,0.438611,420857,9519,782749,0,0,1,477,49,471,5528,20.0,0.316218

In [48]:
dftrainX = dftrain
#dftrain['clicked'] = dftrain['clicked_x'] 
dftrainY = dftrain[['displayId' , 'adId' , 'clicked']]

In [49]:
ul=[]
def add_to(x):
    ul.append(x)
    return 1
temp=dftrainY['displayId'].value_counts()
temp.index=temp.index.astype(str)
td = temp.to_dict()
dftrainY['displayId'] = dftrainY['displayId'].astype(str)

#df['displayId'] = df['displayId'].astype(int)

dftrainY['Frecuency'] = dftrainY['displayId'].apply(lambda x : td.get(x) if td.get(x)!=None else add_to(x))


dftrainY["probability"] = (dftrainY["clicked"]+1)/(dftrainY["Frecuency"]*2)

#print(df.head(5))

c:\users\sajjad\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\sajjad\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
c:\users\sajjad\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [27]:
dftrainY["probability"] = 0.9*dftrainY['clicked'] + 0.1/2

c:\users\sajjad\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [ ]:
print(len(ul))
len(ul) == len(dftrainY)

In [13]:
dftrainY.head(20)

   displayId  adId  clicked  Frecuency  probability
0    1210227  7182        0          5     0.100000
1    1210227  7125        0          5     0.100000
2    1210227  7181        0          5     0.100000
3    1210227   535        0          5     0.100000
4    1210227  7174        1          5     0.200000
5    1214987  7125        0          3     0.166667
6    1214987  7092        1          3     0.333333
7    1214987  5652        0          3     0.166667
8    1248098  7182        0          3     0.166667
9    1248098    17        1          3     0.333333
10   1248098  7181        0          3     0.166667
11   1271266  6693        0          5     0.100000
12   1271266  7173        0          5     0.100000
13   1271266  7174        0          5     0.100000
14   1271266  7181        0          5     0.100000
15   1271266  7182        1          5     0.200000
16   1272722  7173        0          6     0.083333
17   1272722  7092        1          6     0.166667
18   1272722  7174        0          6     0.083333
19   1272722  6703        0          6     0.083333

In [ ]:
X_train=X_train.loc[:,~X_train.columns.duplicated()]

In [ ]:
features

In [ ]:
dftrain.groupby('website').mean()['clicked'][0]

In [307]:
len(Xtest) - len(dftrain)

-2443196

In [50]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    dftrainX, dftrainY, test_size=0.33, random_state=13)

In [13]:
def create_real_train(features,column_names,x_train , word_prob=None , ignore=['timestamp']):
    if word_prob!=None:
        features.remove('words')
    count=0;
    n = len(x_train)
    print(n)
    dfdummy = pd.DataFrame(columns = column_names)
    featuregroups = {}
    for f in features:
        featuregroups[f] = dftrain.groupby(f).mean()['clicked']
    temps=[]
    for i,r in x_train.iterrows():
        count+=1
        if(count%100000==0):
            print("--{}--".format(count/n))
        temp=[]
        for f in features:
            if f in ignore:
                temp.append(r[f])
                continue
            tr = featuregroups[f].get(r[f])
            #print(tr)
            #print('---------{}-----'.format(r[f]))
            temp.append(tr if tr!=None else 0)
        temps.append(temp)
    dfdummy=dfdummy.append(pd.DataFrame(temps, columns=column_names) , ignore_index=True)
    return dfdummy

In [14]:
dftrain.groupby(['adId' , 'pageId']).mean()['clicked'].get((6,10))

1.0

In [310]:
X_train.head()

,pageId,userId,adId,advertiserId,campaignId,widgetId,device,OS,topicId,timestamp,displayId
720832,8733664,1246519,6515,5513,3790,1882,0,0,7.0,0.438611,2074157
2174001,6927397,2030052,3706,4439,1536,6262,0,0,47.0,0.438333,3450768
3041492,6695039,1272672,5085,10188,7094,14195,0,0,47.0,0.438333,4204547
1748034,7483491,1848834,6144,1481,6341,13925,0,0,31.0,0.438333,3113334
3479652,6120959,2235429,538,8338,829,11849,0,0,45.0,0.438333,4602186

In [15]:
def create_real_train2(features,column_names,x_train ,  ignore=['timestamp']):
    count=0;
    n = len(x_train)
    print(n)
    dfdummy = pd.DataFrame(columns = column_names)
    featuregroups = {}
    for f in features:
        featuregroups[f] = dftrain.groupby(f).mean()['clicked']
        
    for i in range(len(features)) :
        f1 = features[i]
        if f1 in ignore:
            continue
        for j in range(i+1 , len(features)):
            f2 = features[j]
            if f2 in ignore:
                continue
            featuregroups[(f1,f2)] = dftrain.groupby([f1,f2]).mean()['clicked']
            
    temps=[]
    #print(featuregroups.keys())
    for i,r in x_train.iterrows():
        count+=1
        if(count%100000==0):
            print("--{}--".format(count/n))
        temp=[]
        for f in features:
            if f in ignore:
                temp.append(r[f])
                continue
            tr = featuregroups[f].get(r[f])
            temp.append(tr if tr!=None else 0)
        for j in range(len(features)) :
            f1 = features[j]
            if f1 in ignore:
                continue
            for k in range(j+1 , len(features)):
                f2 = features[k]
                if f2 in ignore:
                    continue
                if f1==f2:
                    continue
                tr = featuregroups[(f1,f2)].get((r[f1],r[f2]))
                #print(tr)
                temp.append(tr if tr!=None else 0)
                
        temps.append(temp)
    dfdummy=dfdummy.append(pd.DataFrame(temps) , ignore_index=True)
    return dfdummy

In [17]:
def create_real_train3(anchor , features,column_names,x_train , word_prob=None , ignore=['timestamp']):
    if word_prob!=None:
        features.remove('words')
    count=0;
    n = len(x_train)
    print(n)
    dfdummy = pd.DataFrame(columns = column_names)
    featuregroups = {}
    featuregroups[anchor] = dftrain.groupby(anchor).mean()['clicked']
    for f in features:
        featuregroups[f] = dftrain.groupby(f).mean()['clicked']
    temps=[]
    for i,r in x_train.iterrows():
        count+=1
        if(count%100000==0):
            print("--{}--".format(count/n))
        tr = featuregroups[anchor].get(r[anchor])
        temp=[tr if tr!=None else 0]
        for f in features:
            if f in ignore:
                temp.append(r[f])
                continue
            tr = featuregroups[f].get((r[f[0]] , r[f[1]]))
            #print(tr)
            #print('---------{}-----'.format(r[f]))
            temp.append(tr if tr!=None else 0)
        temps.append(temp)
    dfdummy=dfdummy.append(pd.DataFrame(temps, columns=column_names) , ignore_index=True)
    return dfdummy

In [51]:
def create_real_train4(anchors , features,column_names,x_train ):
    count=0;
    n = len(x_train)
    print(n)
    dfdummy = pd.DataFrame(columns = column_names)
    featuregroups = {}
    for anchor in anchors:
        featuregroups[anchor] = dftrain.groupby(anchor).mean()['clicked']
    for f in features:
        featuregroups[f] = dftrain.groupby(f).mean()['clicked']
    temps=[]
    for i,r in x_train.iterrows():
        count+=1
        if(count%100000==0):
            print("--{}--".format(count/n))
        temp=[]
        for anchor in anchors:
            tr = featuregroups[anchor].get(r[anchor])
            temp.append(tr if tr!=None else 0)
        for f in features:
            tr = featuregroups[f].get((r[f[0]] , r[f[1]]))
            temp.append(tr if tr!=None else 0)
        temps.append(temp)
    dfdummy=dfdummy.append(pd.DataFrame(temps, columns=column_names) , ignore_index=True)
    return dfdummy

In [52]:
X = create_real_train4(anchors,features[:] , column_names , X_train)

2440303

c:\users\sajjad\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: Interpreting tuple 'by' as a list of keys, rather than a single key. Use 'by=[...]' instead of 'by=(...)'. In the future, a tuple will always mean a single key.
  # Remove the CWD from sys.path while we load stuff.

--0.040978517831597144--
--0.08195703566319429--
--0.12293555349479142--
--0.16391407132638858--
--0.20489258915798572--
--0.24587110698958284--
--0.28684962482118--
--0.32782814265277715--
--0.36880666048437427--
--0.40978517831597144--
--0.45076369614756856--
--0.4917422139791657--
--0.5327207318107628--
--0.57369924964236--
--0.6146777674739571--
--0.6556562853055543--
--0.6966348031371514--
--0.7376133209687485--
--0.7785918388003457--
--0.8195703566319429--
--0.86054887446354--
--0.9015273922951371--
--0.9425059101267342--
--0.9834844279583314--

In [46]:
#dftrain.groupby(anchor).mean()['clicked']

In [132]:
#X = X.loc[:,~X.columns.duplicated()]
Xtemp = X.drop([('adId','userId') , ('adId','pageId') , ('adId' , 'widgetId')] , axis=1)
Xtemp.head()

       adId  (adId, campaignId)  (adId, topicId)  (adId, website)
0  0.221737            0.221737         0.205333         0.163295
1  0.260697            0.260697         0.317712         0.290247
2  0.306210            0.306210         0.317073         0.301724
3  0.176039            0.176039         0.132420         0.129921
4  0.256725            0.256725         0.242415         0.306375

In [58]:
X.to_csv('../temp/traintemp.csv' , index=False)

In [14]:
X = pd.read_csv('../temp/traintemp.csv')

In [66]:
l=[0,1,2,3,4,5,6,7,8,9,10,11,36]

In [48]:
#X = X[features]
#X = X.drop('Unnamed: 0' ,axis=1)
X.head(20)

,adId,"(adId, pageId)","(adId, userId)","(adId, campaignId)","(adId, widgetId)","(adId, topicId)","(adId, website)"
0,0.221737,0.161404,0.0,0.221737,0.155725,0.205333,0.163295
1,0.260697,0.000000,0.0,0.260697,0.290247,0.317712,0.290247
2,0.306210,0.416667,0.0,0.306210,0.310680,0.317073,0.301724
3,0.176039,0.000000,0.0,0.176039,0.129921,0.132420,0.129921
4,0.256725,0.666667,0.6,0.256725,0.358808,0.242415,0.306375
5,0.112278,0.333333,0.0,0.112278,0.329412,0.197026,0.234177
6,0.202741,0.000000,0.0,0.202741,0.000000,0.145374,0.000000
7,0.139896,0.000000,0.0,0.139896,0.000000,0.098361,0.000000
8,0.146409,0.000000,0.0,0.146409,0.128571,0.121920,0.128205
9,0.203110,1.000000,1.0,0.203110,0.370370,0.293103,0.369048
10,0.203859,0.500000,0.0,0.203859,0.197487,0.500000,0.204861
11,0.261430,0.000000,0.0,0.261430,0.205479,0.343171,0.236527
12,0.207771,0.000000,0.0,0.207771,0.155367,0.189655,0.155367
13,0.264923,0.250000,0.0,0.264923,0.219375,0.243316,0.219375
14,0.191014,0.000000,0.0,0.191014,0.238095,0.235294,0.227273
15,0.377805,0.333333,0.5,0.377805,0.298030,0.362761,0.298030
16,0.191014,0.000000,0.0,0.191014,0.281818,0.253165,0.281818
17,0.195682,0.000000,0.0,0.195682,0.000000,0.259259,0.136364
18,0.483118,0.714286,1.0,0.483118,0.489583,0.493671,0.489583
19,0.289386,0.000000,0.0,0.289386,0.269606,0.283582,0.269606

In [108]:
"{} {} {}".format(round(len(X[X[('adId' , 'widgetId')]<0.0001])/len(X),4) , round(len(X[X[('adId' , 'pageId')]<0.0001])/len(X),4) , round(len(X[X[('adId' , 'userId')]<0.0001])/len(X),4))

'0.0731 0.4554 0.7461'

In [118]:
"{} {} {}".format(round(len(Xtest[Xtest[l[4]]<0.0001])/len(Xtest),4) , round(len(Xtest[Xtest[l[1]]<0.0001])/len(Xtest),4) , round(len(Xtest[Xtest[l[2]]<0.0001])/len(Xtest),4))

'0.4721 0.9022 0.9947'

In [54]:
temp = X
for e in temp.columns:
    print("percent of zeros in column {} = {}".format(e,round(len(temp[temp[e]<0.0001])/len(temp),4)))

percent of zeros in column adId = 0.0003
percent of zeros in column campaignId = 0.0
percent of zeros in column advertiserId = 0.0
percent of zeros in column ('adId', 'pageId') = 0.4554
percent of zeros in column ('adId', 'userId') = 0.7461
percent of zeros in column ('adId', 'widgetId') = 0.0731
percent of zeros in column ('adId', 'topicId') = 0.0323
percent of zeros in column ('adId', 'website') = 0.0633
percent of zeros in column ('adId', 'timestamp') = 0.0016
percent of zeros in column ('campaignId', 'pageId') = 0.3496
percent of zeros in column ('campaignId', 'userId') = 0.6581
percent of zeros in column ('campaignId', 'widgetId') = 0.0303
percent of zeros in column ('campaignId', 'topicId') = 0.0047
percent of zeros in column ('campaignId', 'website') = 0.0266
percent of zeros in column ('campaignId', 'timestamp') = 0.0002
percent of zeros in column ('advertiserId', 'pageId') = 0.3002
percent of zeros in column ('advertiserId', 'userId') = 0.6283
percent of zeros in column ('advertiserId', 'widgetId') = 0.0181
percent of zeros in column ('advertiserId', 'topicId') = 0.0019
percent of zeros in column ('advertiserId', 'website') = 0.0168
percent of zeros in column ('advertiserId', 'timestamp') = 0.0001

In [64]:
temp = Xtest
for e in temp.columns:
    print("percent of zeros in column {} = {}".format(e,round(len(temp[temp[e]<0.0001])/len(temp),4)))

percent of zeros in column adId = 0.3301
percent of zeros in column campaignId = 0.2137
percent of zeros in column advertiserId = 0.0963
percent of zeros in column ('adId', 'pageId') = 0.9022
percent of zeros in column ('adId', 'userId') = 0.9947
percent of zeros in column ('adId', 'widgetId') = 0.4721
percent of zeros in column ('adId', 'topicId') = 0.3706
percent of zeros in column ('adId', 'website') = 0.4515
percent of zeros in column ('adId', 'timestamp') = 0.4097
percent of zeros in column ('campaignId', 'pageId') = 0.8536
percent of zeros in column ('campaignId', 'userId') = 0.9892
percent of zeros in column ('campaignId', 'widgetId') = 0.3251
percent of zeros in column ('campaignId', 'topicId') = 0.2238
percent of zeros in column ('campaignId', 'website') = 0.3066
percent of zeros in column ('campaignId', 'timestamp') = 0.2869
percent of zeros in column ('advertiserId', 'pageId') = 0.8029
percent of zeros in column ('advertiserId', 'userId') = 0.9829
percent of zeros in column ('advertiserId', 'widgetId') = 0.157
percent of zeros in column ('advertiserId', 'topicId') = 0.1075
percent of zeros in column ('advertiserId', 'website') = 0.1406
percent of zeros in column ('advertiserId', 'timestamp') = 0.1161

In [178]:
droplist = [('adId' , 'pageId') , ('adId' , 'userId') , ('adId' ,'widgetId') , ('adId','website') , ('adId','timestamp'),('adId','topicId'),
            ('campaignId' , 'pageId') , ('campaignId' , 'userId') ,('campaignId','website') , ('campaignId','timestamp'),('campaignId','widgetId')
           ,('advertiserId' , 'pageId') , ('advertiserId' , 'userId')]
droplist=[]

(2440303, 21)

In [119]:
def dropout(X , alpha):
    n = int(alpha * len(X))
    l = np.random.randint(len(X) , size = n)
    l2 = np.random.randint(X.shape[1] , size=n)
    for i in range(n):
        X.loc[l[i]][X.columns[l2[i]]] = 0

In [179]:
Xtemp = X.drop(droplist , axis=1)

In [195]:
dropout(Xtemp,0.8)

In [196]:
Xtemp.head()

,adId,campaignId,advertiserId,"(adId, pageId)","(adId, userId)","(adId, widgetId)","(adId, topicId)","(adId, website)","(adId, timestamp)","(campaignId, pageId)",...,"(campaignId, widgetId)","(campaignId, topicId)","(campaignId, website)","(campaignId, timestamp)","(advertiserId, pageId)","(advertiserId, userId)","(advertiserId, widgetId)","(advertiserId, topicId)","(advertiserId, website)","(advertiserId, timestamp)"
0,0.221737,0.224727,0.224727,0.161404,0.0,0.155725,0.205333,0.163295,0.222713,0.164609,...,0.146102,0.208109,0.156483,0.000000,0.164609,0.0,0.000000,0.208109,0.156483,0.228169
1,0.260697,0.263397,0.260914,0.000000,0.0,0.290247,0.317712,0.290247,0.278244,0.500000,...,0.287041,0.275868,0.000000,0.279325,0.500000,0.5,0.286164,0.274779,0.286164,0.278596
2,0.306210,0.000000,0.271636,0.416667,0.0,0.310680,0.317073,0.301724,0.352941,0.416667,...,0.310680,0.000000,0.301724,0.352941,0.392857,0.0,0.239264,0.246032,0.251256,0.308281
3,0.176039,0.000000,0.203040,0.000000,0.0,0.129921,0.000000,0.129921,0.145193,0.183099,...,0.158456,0.163554,0.158456,0.184182,0.183099,0.5,0.157323,0.163579,0.157323,0.181746
4,0.256725,0.256725,0.227297,0.666667,0.6,0.358808,0.000000,0.000000,0.252050,0.666667,...,0.000000,0.242415,0.306375,0.252050,0.571429,0.6,0.296780,0.211984,0.237896,0.222372

In [197]:
from sklearn.ensemble import RandomForestClassifier , AdaBoostRegressor , GradientBoostingRegressor , GradientBoostingClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LogisticRegression
#from sklearn.linear_model import
#clf = LogisticRegression(max_iter=3,tol=4.4870965 ,C=0.000008,penalty='l1',class_weight='balanced').fit(X,y_train['clicked'])
#clf = LogisticRegression(penalty='l1',C=0.01,class_weight='balanced').fit(Xtemp,y_train['clicked'])
clf = RandomForestClassifier(class_weight = 'balanced').fit(Xtemp , y_train['clicked'])

c:\users\sajjad\appdata\local\programs\python\python36\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [192]:
clf.score(Xtemp,y_train['clicked'])

0.9930902023232361

In [184]:
#clf.coef_
clf.feature_importances_

array([0.00189173, 0.00160591, 0.00149301, 0.07139989, 0.39543477,
       0.0026285 , 0.00273343, 0.02209725, 0.00255156, 0.04157134,
       0.16611593, 0.00934732, 0.00237921, 0.00207338, 0.00198553,
       0.06728082, 0.19895602, 0.00207031, 0.00238278, 0.00205268,
       0.00194862])

In [193]:
clf.feature_importances_

array([0.00275133, 0.00237047, 0.0021945 , 0.07280984, 0.26044074,
       0.0224839 , 0.00403685, 0.00633973, 0.003264  , 0.04252888,
       0.25200334, 0.00986624, 0.00328952, 0.00286468, 0.00290362,
       0.02030188, 0.27748142, 0.0032262 , 0.00325988, 0.0028535 ,
       0.00272949])

In [185]:
Xtemp2 = Xt.drop(droplist , axis=1)
Xtemp2.head()

,adId,campaignId,advertiserId,"(adId, pageId)","(adId, userId)","(adId, widgetId)","(adId, topicId)","(adId, website)","(adId, timestamp)","(campaignId, pageId)",...,"(campaignId, widgetId)","(campaignId, topicId)","(campaignId, website)","(campaignId, timestamp)","(advertiserId, pageId)","(advertiserId, userId)","(advertiserId, widgetId)","(advertiserId, topicId)","(advertiserId, website)","(advertiserId, timestamp)"
0,0.099656,0.149946,0.149946,0.000000,0.0,0.375000,0.153846,0.375000,0.100000,0.000000,...,0.187500,0.279605,0.187500,0.136437,0.000000,0.0,0.187500,0.279605,0.187500,0.136437
1,0.214735,0.177945,0.169163,0.000000,0.0,0.257426,0.204372,0.255319,0.219625,0.000000,...,0.250965,0.167332,0.245045,0.183299,0.000000,0.0,0.198788,0.180698,0.183031,0.162731
2,0.144269,0.182972,0.205123,0.000000,0.0,0.055556,0.090909,0.052632,0.165761,0.000000,...,0.070370,0.174007,0.073260,0.186609,0.000000,0.0,0.084507,0.185269,0.089965,0.223422
3,0.240373,0.227702,0.227297,0.000000,0.0,0.188525,0.262443,0.213166,0.271960,0.000000,...,0.185484,0.241338,0.209231,0.250087,0.000000,0.0,0.151701,0.227835,0.199003,0.266692
4,0.210133,0.203557,0.203557,0.344086,1.0,0.301449,0.274541,0.290330,0.236388,0.321839,...,0.297329,0.271121,0.284504,0.220039,0.321839,0.5,0.297329,0.271121,0.284504,0.220039

In [194]:
clf.score(Xtemp2 , y_test['clicked'])

0.9703762497493638

In [101]:
#clf2 = BaggingRegressor(base_estimator=clf , n_estimators=5).fit(X,y_train['probability'])

In [44]:
labels = [True , True , True , True , True , True , False , False , True , True]

In [ ]:
X.head()

In [60]:
dftestX['words']=dftestX['words'].fillna("")

c:\users\sajjad\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [55]:
#X_test = X_test.loc[:,~X_test.columns.duplicated()]
#X_test['words']=X_test['words'].fillna("")

Xt = create_real_train4(anchors,features , column_names , X_test )

1201941

c:\users\sajjad\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: Interpreting tuple 'by' as a list of keys, rather than a single key. Use 'by=[...]' instead of 'by=(...)'. In the future, a tuple will always mean a single key.
  # Remove the CWD from sys.path while we load stuff.

--0.08319875934010072--
--0.16639751868020144--
--0.24959627802030215--
--0.3327950373604029--
--0.4159937967005036--
--0.4991925560406043--
--0.582391315380705--
--0.6655900747208058--
--0.7487888340609065--
--0.8319875934010073--
--0.9151863527411079--
--0.9983851120812086--

In [101]:
Xt.head()
Xtemp2 = Xt.drop([('adId','userId') , ('adId','pageId')] , axis=1)
Xtemp2.head()

,adId,"(adId, campaignId)","(adId, widgetId)","(adId, topicId)","(adId, website)"
0,0.099656,0.099656,0.375000,0.153846,0.375000
1,0.214735,0.214735,0.257426,0.204372,0.255319
2,0.144269,0.144269,0.055556,0.090909,0.052632
3,0.240373,0.240373,0.188525,0.262443,0.213166
4,0.210133,0.210133,0.301449,0.274541,0.290330

In [59]:
dftest = pd.read_csv('../datadays2020/click_test.csv')
prev = len(dftest)
dftest = pd.merge(dftest , dfevent , on='displayId' , how='left')
after = len(dftest)
assert prev == after
prev = len(dftest)
dftest = pd.merge(dftest , dfweb , on='pageId' , how='left')
after = len(dftest)
assert prev == after
prev = len(dftest)
dftest = pd.merge(dftest , dfad , on='adId' , how='left')
after = len(dftest)
assert prev == after
dftest = pd.merge(dftest , dftopic , on='pageId' , how='left')
dftest['topicId'] = dftest['topicId'].fillna(0)
dftest['confidence'] = dftest['confidence'].fillna(0)
dftrain.head()
#dftest = pd.merge(dftest , dfwords , on='adId' , how='left')
dftestX = dftest
dftestY = dftrain[['displayId' , 'adId' , 'clicked']]
dftestX.head()

,displayId,adId,timestamp,pageId,widgetId,userId,device,OS,browser,website,publisher,campaignId,advertiserId,topicId,confidence
0,151650,7585,1579975891854,4095035,8107,10279,1,1,7,4600,1098,2292,7762,28.0,0.902894
1,151650,6257,1579975891854,4095035,8107,10279,1,1,7,4600,1098,1083,4726,28.0,0.902894
2,151650,6690,1579975891854,4095035,8107,10279,1,1,7,4600,1098,2911,6040,28.0,0.902894
3,151938,7454,1579973244297,4273336,10142,17723,1,1,0,13,12,7426,6578,8.0,0.463389
4,151938,7370,1579973244297,4273336,10142,17723,1,1,0,13,12,741,3216,8.0,0.463389

In [60]:
t=min(dftrain['timestamp']) 
dftestX['timestamp'] = dftestX['timestamp'].apply(lambda x : discretiseTime((x-t)/(1000*3600) , timetable))                                                  
dftestX.head()

,displayId,adId,timestamp,pageId,widgetId,userId,device,OS,browser,website,publisher,campaignId,advertiserId,topicId,confidence
0,151650,7585,3,4095035,8107,10279,1,1,7,4600,1098,2292,7762,28.0,0.902894
1,151650,6257,3,4095035,8107,10279,1,1,7,4600,1098,1083,4726,28.0,0.902894
2,151650,6690,3,4095035,8107,10279,1,1,7,4600,1098,2911,6040,28.0,0.902894
3,151938,7454,2,4273336,10142,17723,1,1,0,13,12,7426,6578,8.0,0.463389
4,151938,7370,2,4273336,10142,17723,1,1,0,13,12,741,3216,8.0,0.463389

In [61]:
dftestX.isna().any()

displayId       False
adId            False
timestamp       False
pageId          False
widgetId        False
userId          False
device          False
OS              False
browser         False
website         False
publisher       False
campaignId      False
advertiserId    False
topicId         False
confidence      False
dtype: bool

In [89]:
Xt=Xt.drop(features , axis=1)

In [57]:
Xt.to_csv('../temp/testtemp.csv' , index=False)

In [25]:
Xt = pd.read_csv('../temp/testtemp.csv')
Xt = Xt.drop('Unnamed: 0' , axis=1)

In [64]:
temp=Xt[list(map(str,l))]

In [232]:
clf.score(Xt , y_test['clicked'])

0.8968243865547477

In [34]:
Xt.values.shape

(1201941, 46)

In [32]:
len(y_test[y_test['clicked']<1])/len(y_test)

0.776649602601126

In [37]:
clf.predict(np.random.normal(size=(1,46)))

array([1], dtype=int64)

In [72]:
clf.predict_proba(np.random.normal(size=(1,5)))[0][1]

8.220587456902437e-05

In [62]:
Xtest = create_real_train4(anchors , features[:] , column_names , dftestX)

1199048

c:\users\sajjad\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: Interpreting tuple 'by' as a list of keys, rather than a single key. Use 'by=[...]' instead of 'by=(...)'. In the future, a tuple will always mean a single key.
  # Remove the CWD from sys.path while we load stuff.

--0.0833994969342345--
--0.166798993868469--
--0.25019849080270345--
--0.333597987736938--
--0.4169974846711725--
--0.5003969816054069--
--0.5837964785396415--
--0.667195975473876--
--0.7505954724081104--
--0.833994969342345--
--0.9173944662765794--

In [121]:

#Xtest = Xtest.drop([('adId','userId') , ('adId','pageId')] , axis=1)
Xtest = Xtest.drop(l[1:3] , axis=1)

In [120]:
l[1:3]

["('adId', 'pageId')", "('adId', 'userId')"]

In [123]:
Xtest=Xtest.drop(['rank'] , axis=1)

In [63]:
Xtest.to_csv('../temp/realtesttemp.csv', index=False)

In [110]:
Xtest = pd.read_csv('../temp/realtesttemp.csv')
Xtest = Xtest.drop('Unnamed: 0' , axis=1)

In [168]:
#Xtest=Xtest.drop(features , axis=1)
Xtest = Xtest.drop('rank' , axis=1)

In [115]:
l

['adId',
 "('adId', 'pageId')",
 "('adId', 'userId')",
 "('adId', 'campaignId')",
 "('adId', 'widgetId')",
 "('adId', 'topicId')",
 "('adId', 'website')"]

In [114]:
l = list(Xtest.columns)
Xtest.rename(lambda x : column_names[l.index(x)] )
Xtest.head()

ValueError: 0 is not in list

In [177]:
clf.predict_proba(Xtemp3.iloc[:40])[:,1]

array([0.        , 0.71976332, 0.44123072, 0.71788169, 0.1       ,
       0.28019342, 0.7767389 , 0.23467426, 0.1       , 0.        ,
       0.2       , 0.2       , 0.        , 0.2       , 0.        ,
       0.2       , 0.2       , 0.6       , 0.        , 0.        ,
       0.        , 0.        , 0.3       , 0.47523491, 0.2       ,
       0.56986486, 0.14655386, 0.31010279, 0.18745033, 0.3       ,
       0.        , 0.        , 0.2       , 0.0554436 , 0.2       ,
       0.1       , 0.        , 0.1       , 0.1       , 0.16990472])

In [169]:
Xtemp3 = Xtest.drop(droplist , axis=1)
Xtemp3.head()

,adId,campaignId,advertiserId,"(campaignId, topicId)","(advertiserId, widgetId)","(advertiserId, topicId)","(advertiserId, website)","(advertiserId, timestamp)"
0,0.000000,0.000000,0.115254,0.000000,0.000000,0.000000,0.000000,0.055556
1,0.205696,0.149946,0.149946,0.279605,0.330460,0.279605,0.318373,0.195678
2,0.331361,0.236857,0.257631,0.255814,0.250000,0.229730,0.189873,0.230000
3,0.000000,0.118442,0.140221,0.146565,0.166923,0.173307,0.197938,0.141906
4,0.000000,0.000000,0.190286,0.000000,0.199802,0.162401,0.202860,0.172980

## Lets Submit

In [170]:
Xtest['rank'] = clf.predict_proba(Xtemp3)[:,1]

In [171]:
diad={}
for i,r in dftest.iterrows():
    if r['displayId'] in diad:
        diad[r['displayId']].append(i)
    else:
        diad[r['displayId']] = [i,]

In [172]:
for i in diad:
    diad[i] = sorted(diad[i] , key =lambda x: -1 * Xtest.iloc[x]['rank'] )
arr = np.zeros(len(dftest))

for i,r in dftest.iterrows():
    arr[i] = diad[r['displayId']].index(i) + 1
dftest['ranked'] = arr
#dftest.to_csv('../submit/sub4.csv',header=None,index=False)

In [173]:
dfsub = dftest[['displayId' , 'adId' ,'ranked']]
dfsub['ranked'] = dftest['ranked'].apply(lambda x : int(x) )
dfsub.head()

c:\users\sajjad\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   displayId  adId  ranked
0     151650  7585       3
1     151650  6257       1
2     151650  6690       2
3     151938  7454       2
4     151938  7370       5

In [174]:
dfsub.head(20)

    displayId  adId  ranked
0      151650  7585       3
1      151650  6257       1
2      151650  6690       2
3      151938  7454       2
4      151938  7370       5
5      151938   123       3
6      151938  6690       1
7      151938  7715       4
8      151938  7379       6
9      171024  7374       2
10     171024   123       1
11     171025   123       1
12     171025  7374       2
13     187341  7768       1
14     187341  7814       4
15     187341  7432       2
16     187341  6525       3
17     188283  7710       1
18     188283  6970       2
19     192056  4277       2

In [175]:
dfsub.to_csv('../submit/Sub14.csv',header=None,index=False)

In [ ]:
dfsub.